<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahma.td2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wahid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ithnan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wahid" />

        </activity>
        <activity
            android:name=".thalatha"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".rabaa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".thalatha" />

        </activity>
    </application>

</manifest>